html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      overflow: hidden; 
      background-image: url(../imgs/projectsBG.jpg);
      background-color: rgba(0, 0, 0, 0.9);
      background-blend-mode: multiply;
      background-size: cover;
    }


  @font-face {
    font-family: fontTitleTopProj; 
    src: url(../fonts/hypik/hypik.otf); 
  }

  @font-face {
        font-family: projText;
        src: url(../fonts/CascadiaMono/CaskaydiaMonoNerdFontMono-Regular.ttf);
    }

  .titleTopProjects { 
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 40px;
    color: white;
    font-family: fontTitleTopProj;
  }

  .returnButton {
    position: absolute;
    top: 5%;
    right: 1%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 110px;
    border-radius: 5px;
    background-color: rgb(67, 14, 25);
    transition: background-color 0.5s ease;
    z-index: 10;
  }

  .returnButton:hover {
    background-color: crimson;
  }

  .returnButtonText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    white-space: nowrap;
    text-decoration: none;
    font-family: projText;

  }  

  .divProjects {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: auto;
    text-align: center; 
  }


  .years {
    
    color: white;
    font-family: projText;
    font-size: x-large;
    text-decoration: none;
  }

  .projects {
    color: white;
    font-family: projText;
    font-size: large;
    text-decoration: none;
    margin-top: 15px;
  }

  .projects:hover {
    text-decoration: underline;
  }

  .projimg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    height: fit-content;
    width: 60%;
    border-radius: 7px;
  }


@media (max-width: 718px) {

  .returnButton, .returnButtonText {
    display: none;
  }

  .divProjects {
    left: 50%;
    transform: translate(-50%);
    margin-top: 10%;
    top: 5%;
  }

  .projimg {
    display: none;
  }

}
  
